*,
:before,
:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body,
blockquote,
figure,
input {
  margin: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-block: 0;
  font: inherit;
}

ul,
ol {
  padding-left: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button,
select,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.call {
}

.call__container {
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: 10px;
}

.call__title {
  max-width: 550px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3250a5;
  margin-bottom: 26px;
  line-height: 48px;
  text-align: center;
  background-image: url(/images/title-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 70px;
  margin-left: 45px;
}

.call__row {
  display: flex;
  gap: 60px;
}

@media (max-width: 1023px) {
  .call__row {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.call__info {
  color: #3250a5;
  font-size: 16px;
}

.call__info p b {
  font-weight: 700;
}

.text-block {
  max-width: 735px;
}

.text-block p:first-child {
  margin-bottom: 30px;
}

.text-block p:not(:first-child) {
  margin-bottom: 10px;
}

.call__image {
  padding: 12px;
  overflow: hidden;
  background-image: url(/images/about-img-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.call__image img {
  border-radius: 50%;
}
