*,
:before,
:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body,
blockquote,
figure,
input {
  margin: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-block: 0;
  font: inherit;
}

ul,
ol {
  padding-left: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button,
select,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.pediatr {
  background-color: #ebf0ff;
  background-image: url(/public/images/pediatr-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 70px;
  &__container {
    max-width: 1225px;
    padding-inline: 10px;
    margin-inline: auto;
  }
  &__title {
    max-width: 550px;
    margin-inline: auto;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }
  &__img {
    padding: 12px;
    background-image: url(/images/about-img-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;

    img {
      min-width: 374px;
      width: 374px;
      height: 374px;
      border-radius: 50%;
      @media (max-width: 767px) {
        min-width: 250px;
        width: 250px;
        height: 250px;
      }
    }
  }
  &__info {
    max-width: 750px;
    p {
      font-size: 18px;
      line-height: 35px;
    }
  }
}
.container-isf {
}
.title-isf {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3250a5;
  margin-bottom: 26px;
  line-height: 48px;
  text-align: center;
  background-image: url(/images/title-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 70px;
  @media (max-width: 767px) {
    font-size: 26px;
    margin-bottom: 40px;
  }
}
.circle-img-isf {
}

.advantages {
  &__img {
  }
  &__title {
  }
  &__container {
    max-width: 1300px;
    padding-inline: 10px;
    margin-inline: auto;
  }
  &__item {
  }
}
.title-isf {
}
.advantages {
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &:before {
    content: url(/public/images/text-pattern.svg);
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
  }
  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
  }
  &__subtitle {
    color: #da3849;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    max-width: 700px;
    text-align: center;
    margin-inline: auto;
  }
}
.item-advantages {
  background-color: #3250a5;
  border-radius: 27px;
  flex: 0 0 25%;
  &__img {
    border-radius: 27px;
    min-width: 320px;
    height: 342px;
    margin-bottom: 16px;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
    padding-inline: 20px;
  }
  &__text {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-inline: 30px;
    margin-bottom: 16px;
  }
}

.paid {
  background-color: #ebf0ff;
  background-image: url(/public/images/pediatr-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 50px;
  &__container {
    max-width: 1260px;
    padding-inline: 10px;
    margin-inline: auto;
  }
  &__title {
    max-width: 700px;
    margin-inline: auto;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 700;
  }
}
.title-isf {
}

.call {
  background-color: #ebf0ff;
  background-image: url(/public/images/pediatr-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-block: 50px;
  &__title {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 25px;
  }
  &__container {
    max-width: 1235px;
    margin-inline: auto;
    padding-inline: 10px;
  }
  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-bottom: 35px;
  }
  &__item {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
    height: 150px;
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.title-isf {
}
.item-call {
  &__icon {
  }
  &__text {
  }
}
